/* Media Queries */
@media only screen and (max-width: 900px) {
    .nav-links li {
        display: none;
    }
    .nav-buttons {
        display: none;
    }
    .service-list {
        flex-direction: column;
        width: 100%;
    }
    .service-item {
        width: 100%;
    }
}

/* General Styles */
*{
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-y: hidden;
}
#nav_responsive_box {
    display: none;
}
#hamburger_icon {
    display: none;
}
.navbar_reponsive {
    display: none;
}

.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 20px 0; /* added padding */
}

.nav-logo a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.btn {
    text-decoration: none;
    padding: 8px 16px;
    margin-left: 10px;
    border: 2px solid #fff;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}

.btn-signup {
    background-color: #ff5722;
    border-color: #ff5722;
}

.btn-signup:hover {
    background-color: #fff;
    color: #ff5722;
}

.nav-buttons {
    margin-right: 20px; /* reduced margin */
}

.hero {
    background-color: black;
    color: #fff;
    padding: 60px; /* increased padding */
    text-align: center;
    width: 95%;
    margin: 20px auto; /* added margin */
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 24px;
    margin-bottom: 30px;
}

.about-us, .services, .why-choose-us, .call-to-action {
    padding: 40px; /* reduced padding */
    background-color: #fff;
    margin: 20px auto; /* added margin */
    text-align: center;
    width: 95%;
}

.why-choose-us ul {
    text-align: left;
}

.service-list {
    display: flex;
    justify-content: space-around;
    margin: 20px; /* added margin */
}

.service-item {
    width: 30%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin: 10px; /* added margin */
}

.call-to-action {
    background-color: #4CAF50;
    color: #fff;
    padding: 40px; /* increased padding */
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 20px; /* added padding */
}