{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nimbus Consultancy - Sustainable IT and Data Solutions</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% block extra_css %}
    {% endblock %}
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar">
        <div class="nav-logo">
            <a href="{% url 'home'%}">Nimbus Consultancy</a>
        </div>
        <ul class="nav-links" id="navlinks">
            <li><a href="{% url 'home'%}">Home</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <div class="nav-buttons">
            {% if user.is_authenticated %}
                <form action="{% url 'logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-logout">Log Out</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-login">Log In</a>
                <a href="{% url 'signup' %}" class="btn btn-signup">Sign Up</a>
            {% endif %}
        </div>
        <div id="hamburger_icon" class="hamburger_icon" onclick="show_responsive_box()">
            <i class="fas fa-bars"></i>
        </div>
    </nav>


    <!-- navbar for small screens -->
    <div id="nav_responsive_box">
        <a href="#nav_responsive_box"><button id="close_responsive_box" onclick="hide_responsive_box()"></a>
            <h1>X</h1>
        </button>
        <div id="login_responsive_box">
            {% if user.is_authenticated %}
                <form action="{% url 'logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-logout">Log Out</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-login">Log In</a>
                <a href="{% url 'signup' %}" class="btn btn-signup">Sign Up</a>
            {% endif %}
        </div>
        <ul id="nav_options_responsive_box">
            <li><a href="{% url 'home'%}">Home</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer class="footer">
        <p>&copy; 2024 Nimbus Consultancy. All rights reserved.</p>
    </footer>
    <script src="{% static 'index.js' %}"></script>
</body>

</html>
